@model IEnumerable<AgendaContatos.AppService.Models.ContatoModel>

@{
    ViewData["Title"] = "Lista contatos";
}

<h2>Lista de contatos</h2>

<p>
    <a asp-action="Create">Novo contato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContatoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContatoEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContatoCelular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContatoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContatoEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContatoCelular)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ContatoId }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.ContatoId })
                </td>
            </tr>
        }
    </tbody>
</table>
